In [1]:
import pandas as pd
import os
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import datetime

import warnings
warnings.filterwarnings(action='ignore')

# customer.csv EDA

In [2]:
cu = pd.read_csv('dataset_origin\customer.csv')

In [3]:
cu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   customer_id         100000 non-null  int64
 1   first_name          100000 non-null  object
 2   last_name           100000 non-null  object
 3   username            100000 non-null  object
 4   email               100000 non-null  object
 5   gender              100000 non-null  object
 6   birthdate           100000 non-null  object
 7   device_type         100000 non-null  object
 8   device_id           100000 non-null  object
 9   device_version      100000 non-null  object
 10  home_location_lat   100000 non-null  float64
 11  home_location_long  100000 non-null  float64
 12  home_location       100000 non-null  object
 13  home_country        100000 non-null  object
 14  first_join_date     100000 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 11.4+ MB

In [4]:
cu.isnull().sum()

customer_id           0
first_name            0
last_name             0
username              0
email                 0
gender                0
birthdate             0
device_type           0
device_id             0
device_version        0
home_location_lat     0
home_location_long    0
home_location         0
home_country          0
first_join_date       0
dtype: int64

In [5]:
### customer_id
# 식별번호이므로 int → str로 바꿔주기

cu['customer_id'].duplicated().sum()

0

In [6]:
# 이름은 이탈률과 관계가 없다고 판단 → 컬럼 삭제
cu= cu.drop(['first_name', 'last_name', 'username'], axis=1)

In [7]:
# 이메일 또한 이탈률과 관계가 없다고 판단 → 컬럼 삭제
cu= cu.drop(['email'], axis=1)

In [8]:
# 여성 비율이 2배 가량 높음
cu['gender'].value_counts()

gender
F    64230
M    35770
Name: count, dtype: int64

In [9]:
# birthdate
# 나이 컬럼 생성

def age(birthdate):
    age = 2023 - int(birthdate[0:4]) + 1
    return age

cu['age'] = cu['birthdate'].apply(age)
cu.head()

,customer_id,gender,birthdate,device_type,device_id,device_version,home_location_lat,home_location_long,home_location,home_country,first_join_date,age
0,2870,F,1996-06-14,iOS,c9c0de76-0a6c-4ac2-843f-65264ab9fe63,iPhone; CPU iPhone OS 14_2_1 like Mac OS X,-1.043345,101.360523,Sumatera Barat,Indonesia,2019-07-21,28
1,8193,F,1993-08-16,Android,fb331c3d-f42e-40fe-afe2-b4b73a8a6e25,Android 2.2.1,-6.212489,106.818850,Jakarta Raya,Indonesia,2017-07-16,31
2,7279,M,1989-01-23,iOS,d13dde0a-6ae1-43c3-83a7-11bbb922730b,iPad; CPU iPad OS 4_2_1 like Mac OS X,-8.631607,116.428436,Nusa Tenggara Barat,Indonesia,2020-08-23,35
3,88813,M,1991-01-05,iOS,f4c18515-c5be-419f-8142-f037be47c9cd,iPad; CPU iPad OS 14_2 like Mac OS X,1.299332,115.774934,Kalimantan Timur,Indonesia,2021-10-03,33
4,82542,M,2000-07-15,iOS,e46e4c36-4630-4736-8fcf-663db29ca3b0,iPhone; CPU iPhone OS 10_3_3 like Mac OS X,-2.980807,114.924675,Kalimantan Selatan,Indonesia,2021-04-11,24

In [10]:
# 안드로이드가 ios보다 3배정도 많음
cu['device_type'].value_counts()

device_type
Android    76637
iOS        23363
Name: count, dtype: int64

In [11]:
# 고유값으로, 연결되는 컬럼이 없으므로 삭제
cu= cu.drop(['device_id'], axis=1)

In [12]:
# device로 device_type 확인 가능 >> device_type 컬럼 삭제
cu = cu.drop(['device_type'], axis=1)

In [13]:
# home_country
# 모두 다 인도네시아로, 컬럼 삭제

cu['home_country'].value_counts()

cu = cu.drop(['home_country'], axis=1)

In [14]:
cu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   customer_id         100000 non-null  int64
 1   gender              100000 non-null  object
 2   birthdate           100000 non-null  object
 3   device_version      100000 non-null  object
 4   home_location_lat   100000 non-null  float64
 5   home_location_long  100000 non-null  float64
 6   home_location       100000 non-null  object
 7   first_join_date     100000 non-null  object
 8   age                 100000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 6.9+ MB

In [15]:
cu.head()

,customer_id,gender,birthdate,device_version,home_location_lat,home_location_long,home_location,first_join_date,age
0,2870,F,1996-06-14,iPhone; CPU iPhone OS 14_2_1 like Mac OS X,-1.043345,101.360523,Sumatera Barat,2019-07-21,28
1,8193,F,1993-08-16,Android 2.2.1,-6.212489,106.818850,Jakarta Raya,2017-07-16,31
2,7279,M,1989-01-23,iPad; CPU iPad OS 4_2_1 like Mac OS X,-8.631607,116.428436,Nusa Tenggara Barat,2020-08-23,35
3,88813,M,1991-01-05,iPad; CPU iPad OS 14_2 like Mac OS X,1.299332,115.774934,Kalimantan Timur,2021-10-03,33
4,82542,M,2000-07-15,iPhone; CPU iPhone OS 10_3_3 like Mac OS X,-2.980807,114.924675,Kalimantan Selatan,2021-04-11,24

# product.csv EDA

In [16]:
import csv

modified_count = 0

with open('product.csv', 'r', newline='', encoding='utf-8') as file:
    csv_reader = csv.reader(file)
    rows = list(csv_reader) 

    for row in rows:
        if len(row) > 10:  
            print(f"10번째 이후의 컬럼들: {row[9:]}")
            row[9] = ','.join(row[9:]) 
            del row[10:]  
            modified_count += 1

# 수정된 데이터의 개수 출력
print(f"수정된 데이터 개수: {modified_count}")


with open('test_product.csv', 'w', newline='', encoding='utf-8') as file:
    csv_writer = csv.writer(file)
    for row in rows:
        csv_writer.writerow(row)

FileNotFoundError: [Errno 2] No such file or directory: 'product.csv'

In [ ]:
pr = pd.read_csv('dataset_origin\\test_product.csv')

In [ ]:
# id컬럼 transaction과 통일후 object로 변경
pr.rename(columns={'id': 'product_id'}, inplace=True)
pr["product_id"]=pr["product_id"].astype(object)

In [ ]:
pr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44446 entries, 0 to 44445
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  44446 non-null  int64
 1   gender              44446 non-null  object
 2   masterCategory      44446 non-null  object
 3   subCategory         44446 non-null  object
 4   articleType         44446 non-null  object
 5   baseColour          44431 non-null  object
 6   season              44425 non-null  object
 7   year                44445 non-null  float64
 8   usage               44129 non-null  object
 9   productDisplayName  44439 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 3.4+ MB

In [ ]:
pr.isnull().sum()

id                      0
gender                  0
masterCategory          0
subCategory             0
articleType             0
baseColour             15
season                 21
year                    1
usage                 317
productDisplayName      7
dtype: int64

In [ ]:
pr[pr['masterCategory']=="Home"]
# 1년에 10건 미만 생성

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
12240,40826,Unisex,Home,Home Furnishing,Cushion Covers,Yellow,Fall,2012.0,Home,Swayam Unisex Yellow and Orange Cushion Covers...

In [ ]:
product.isnull().sum()

In [ ]:
product[product["year"].isnull()]

In [ ]:
# transaction 28건 발생 확인. 2017년 이전에 생성된듯. 인터넷 검색시 특정어려움. 삭제 및 year int로 변경. 
product.dropna(subset=['year'], inplace=True)
product["year"]=product["year"].astype(int)

In [ ]:
product[product["productDisplayName"].isnull()]

In [ ]:
# 이름없는 케이스는 삭제
product = product.dropna(subset=['productDisplayName'])
product = product.reset_index(drop=True)

In [ ]:
columns_to_check = product.columns.difference(['product_id'])
product[product.duplicated(subset=columns_to_check, keep=False)].sort_values(by="productDisplayName")

In [ ]:
pr.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [ ]:
product = pr.copy()

In [ ]:
# 중복 여부를 판단할 컬럼들을 선택합니다 (product_id를 제외한 나머지 컬럼들)
columns_to_check = product.columns.difference(['product_id'])

# 중복된 행을 찾습니다 (모든 중복 행을 보존합니다)
duplicates = product[product.duplicated(subset=columns_to_check, keep=False)].sort_values(by="productDisplayName").copy()

# 중복된 데이터의 'id' 컬럼을 생성하고 중복된 데이터의 첫 번째 'product_id' 값을 할당합니다
duplicates['id'] = duplicates.groupby(list(columns_to_check), sort=False, dropna=False)['product_id'].transform('first')

# 'id' 컬럼의 NaN 값을 중복된 데이터의 'product_id' 값으로 채웁니다
duplicates['id'] = duplicates['id'].fillna(duplicates['product_id'])

# 'product_id'와 'id' 컬럼만 있는 데이터프레임을 생성합니다
result_ = duplicates[['product_id', 'id']].copy()

# 결과를 출력합니다
print(result_)

      product_id     id
42543      46261  46261
24960      46286  46261
27001      46280  46261
9066       37905  37905
6018       37904  37905
...          ...    ...
14302      30991  30991
17652      45687  45687
23497      45698  30991
37549      30992  45687
40697      43119  45687

[15466 rows x 2 columns]

In [ ]:
# 중복되는 케이스 중 하나만 남기되, 어떤 값들이 남았는지 출력
columns_to_check = product.columns.difference(['product_id'])
duplicates = product[product.duplicated(subset=columns_to_check, keep=False)].sort_values(by="productDisplayName")

# 중복 제거 전의 id 리스트 추출
id_list_before = duplicates['product_id'].tolist()

# 중복 제거 후 실제 데이터프레임 변경 및 인덱스 재설정
unique_duplicates = duplicates.drop_duplicates(subset=columns_to_check, keep="first")
product = product.drop_duplicates(subset=columns_to_check, keep="first").reset_index(drop=True)

In [ ]:
duplicates

,product_id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
42543,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic
24960,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic
27001,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic
9066,37905,Unisex,Personal Care,Fragrance,Perfume and Body Mist,Gold,Spring,2017.0,Casual,24 Unisex Gold Perfume
6018,37904,Unisex,Personal Care,Fragrance,Perfume and Body Mist,Gold,Spring,2017.0,Casual,24 Unisex Gold Perfume
...,...,...,...,...,...,...,...,...,...,...
14302,30991,Women,Personal Care,Fragrance,Perfume and Body Mist,NaN,Spring,2017.0,NaN,NaN
17652,45687,Men,Personal Care,Fragrance,Perfume and Body Mist,NaN,Spring,2017.0,NaN,NaN
23497,45698,Women,Personal Care,Fragrance,Perfume and Body Mist,NaN,Spring,2017.0,NaN,NaN
37549,30992,Men,Personal Care,Fragrance,Perfume and Body Mist,NaN,Spring,2017.0,NaN,NaN
40697,43119,Men,Personal Care,Fragrance,Perfume and Body Mist,NaN,Spring,2017.0,NaN,NaN

In [ ]:
duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15466 entries, 42543 to 40697
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          15466 non-null  int64
 1   gender              15466 non-null  object
 2   masterCategory      15466 non-null  object
 3   subCategory         15466 non-null  object
 4   articleType         15466 non-null  object
 5   baseColour          15457 non-null  object
 6   season              15466 non-null  object
 7   year                15466 non-null  float64
 8   usage               15446 non-null  object
 9   productDisplayName  15461 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.3+ MB

In [ ]:
# NaN 값이 있을 경우 해당 행을 제거
duplicates = duplicates[duplicates["product_id"].notna()]

# product_id 컬럼을 int64로 변환
duplicates["product_id"] = duplicates["product_id"].astype('int64')

In [ ]:
tr_item_price = tr[['product_id','item_price','quantity']]

In [ ]:
= pd.merge(duplicates, tr_item_price, on='product_id', how='inner')

In [ ]:
dup_category_second = .copy()

In [ ]:
dup_category_second.to_csv('dup_category_second.csv')

### 이름이 똑같은데 product_id는 다른 경우가 새상품과 중고를 나눈 것이다. 가설 검정

In [ ]:
# Grouping by productDisplayName and product_id to get the descriptive statistics for item_price
price_stats = dup_category_second.groupby(['productDisplayName', 'product_id'])['item_price'].describe()

# Filtering for productDisplayName with more than one product_id
multiple_products = price_stats.groupby(level=0).filter(lambda x: len(x) > 1)

# Correcting the error and separating prices of used and new products based on the criteria mentioned
used_prices = []
new_prices = []

for product_name, group in multiple_products.groupby(level=0):
    min_price_product_id = group['mean'].idxmin()[1]
    used_prices.append(group.loc[(product_name, min_price_product_id), 'mean'])
    
    other_product_ids = group.drop(min_price_product_id, level=1)
    new_prices.extend(other_product_ids['mean'].values)

# Convert lists to series for further analysis
used_prices_series = pd.Series(used_prices, name="Used Product Prices")
new_prices_series = pd.Series(new_prices, name="New Product Prices")

from scipy.stats import ttest_ind

# Conducting the independent two-sample t-test
t_stat, p_value = ttest_ind(new_prices_series, used_prices_series, alternative='greater')

t_stat, p_value

(70.99650064046337, 0.0)

In [ ]:
len(new_prices_series)

11199

In [ ]:
len(used_prices_series)

4262

# 가설 채택, 중고-새상품 컬럼 생성

In [ ]:
dup_category_second

In [ ]:
# Create a mapping for product_id to product status based on the criteria
product_status_mapping = {}

# For each productDisplayName with multiple product_ids
for product_name, group in multiple_products.groupby(level=0):
    min_price_product_id = group['mean'].idxmin()[1]
    product_status_mapping[min_price_product_id] = 'second_hand'
    
    other_product_ids = group.drop(min_price_product_id, level=1).index.get_level_values('product_id').tolist()
    for pid in other_product_ids:
        product_status_mapping[pid] = 'brand_new'

# Map product_status to the original dataframe
dup_category_second['product_status'] = dup_category_second['product_id'].map(product_status_mapping).fillna('unknown')

# Display the updated dataframe
dup_category_second.head()

,product_id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,item_price,quantity,product_status
0,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,111500,1,second_hand
1,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,192047,1,second_hand
2,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,301228,1,second_hand
3,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,182131,2,second_hand
4,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,298539,1,second_hand

In [ ]:
dup_category_second.query('product_status == "brand_new"')

,product_id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,item_price,quantity,product_status
32,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,168069,1,brand_new
33,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,285217,1,brand_new
34,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,381269,1,brand_new
35,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,114092,1,brand_new
36,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,388997,1,brand_new
...,...,...,...,...,...,...,...,...,...,...,...,...,...
436023,21144,Women,Apparel,Topwear,Tops,White,Fall,2011.0,Casual,s.Oliver Women Solid White Top,167891,1,brand_new
436024,21144,Women,Apparel,Topwear,Tops,White,Fall,2011.0,Casual,s.Oliver Women Solid White Top,104535,1,brand_new
436025,21144,Women,Apparel,Topwear,Tops,White,Fall,2011.0,Casual,s.Oliver Women Solid White Top,169014,1,brand_new
436026,21144,Women,Apparel,Topwear,Tops,White,Fall,2011.0,Casual,s.Oliver Women Solid White Top,225606,1,brand_new
436027,21144,Women,Apparel,Topwear,Tops,White,Fall,2011.0,Casual,s.Oliver Women Solid White Top,353419,1,brand_new

In [ ]:
dup_category_second.query('product_status == "second_hand"')

,product_id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,item_price,quantity,product_status
0,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,111500,1,second_hand
1,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,192047,1,second_hand
2,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,301228,1,second_hand
3,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,182131,2,second_hand
4,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,298539,1,second_hand
...,...,...,...,...,...,...,...,...,...,...,...,...,...
436052,21131,Women,Apparel,Topwear,Tops,White,Fall,2011.0,Casual,s.Oliver Women Solid White Top,108906,7,second_hand
436053,21131,Women,Apparel,Topwear,Tops,White,Fall,2011.0,Casual,s.Oliver Women Solid White Top,265353,1,second_hand
436054,21131,Women,Apparel,Topwear,Tops,White,Fall,2011.0,Casual,s.Oliver Women Solid White Top,161167,1,second_hand
436055,21131,Women,Apparel,Topwear,Tops,White,Fall,2011.0,Casual,s.Oliver Women Solid White Top,91765,1,second_hand
436056,21131,Women,Apparel,Topwear,Tops,White,Fall,2011.0,Casual,s.Oliver Women Solid White Top,281284,1,second_hand

In [ ]:
dup_category_second.query('productDisplayName == "109F Women Multicoloured Printed Tunic"').query('product_status == "brand_new"')['item_price'].mean()

256258.92592592593

In [ ]:
dup_category_second.query('productDisplayName == "109F Women Multicoloured Printed Tunic"').query('product_status == "second_hand"')['item_price'].mean()

243818.40625

In [ ]:
dup_category_second.query('productDisplayName == "109F Women Multicoloured Printed Tunic"').query('product_status == "brand_new"').sort_values(by='item_price')

,product_id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,item_price,quantity,product_status
82,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,84165,1,brand_new
64,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,91065,1,brand_new
47,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,110917,1,brand_new
57,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,114050,1,brand_new
35,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,114092,1,brand_new
66,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,125185,1,brand_new
73,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,130701,1,brand_new
49,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,132613,1,brand_new
54,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,136088,3,brand_new
83,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,140588,1,brand_new
80,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,146315,1,brand_new
38,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,153065,1,brand_new
77,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,156893,2,brand_new
32,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,168069,1,brand_new
55,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,172561,1,brand_new
39,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,180442,2,brand_new
50,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,183272,1,brand_new
67,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,196850,1,brand_new
76,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,198246,1,brand_new
58,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,205583,1,brand_new
63,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,206138,1,brand_new
85,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,210888,1,brand_new
78,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,219968,2,brand_new
56,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,225062,1,brand_new
46,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,225656,1,brand_new
43,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,230761,1,brand_new
42,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,232603,1,brand_new
45,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,241146,1,brand_new
60,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,247811,1,brand_new
68,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,264667,1,brand_new
61,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,267989,1,brand_new
41,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,268222,1,brand_new
59,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,270698,1,brand_new
71,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,280395,1,brand_new
33,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,285217,1,brand_new
72,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,286639,1,brand_new
44,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,299846,1,brand_new
74,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,310314,1,brand_new
69,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,310644,1,brand_new
53,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,326202,1,brand_new
65,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,329003,1,brand_new
48,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,371076,1,brand_new
51,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,375349,5,brand_new
34,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,381269,1,brand_new
40,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,381876,2,brand_new
75,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,388390,1,brand_new
36,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,388997,1,brand_new
79,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,390025,6,brand_new
37,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,409232,1,brand_new
81,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,416217,10,brand_new
52,46286,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,428600,1,brand_new
70,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,441593,5,brand_new
84,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,476130,1,brand_new
62,46280,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,508599,1,brand_new

In [ ]:
dup_category_second.query('productDisplayName == "109F Women Multicoloured Printed Tunic"').query('product_status == "second_hand"').sort_values(by='item_price')

,product_id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,item_price,quantity,product_status
31,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,96640,1,second_hand
20,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,108274,1,second_hand
0,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,111500,1,second_hand
9,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,127737,1,second_hand
25,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,147155,1,second_hand
21,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,162383,1,second_hand
13,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,165265,1,second_hand
18,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,165981,2,second_hand
22,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,174253,1,second_hand
3,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,182131,2,second_hand
23,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,185128,1,second_hand
1,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,192047,1,second_hand
14,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,195603,2,second_hand
6,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,201650,1,second_hand
19,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,202028,1,second_hand
29,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,226297,1,second_hand
17,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,249304,1,second_hand
5,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,276859,1,second_hand
8,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,280298,1,second_hand
16,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,286517,1,second_hand
4,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,298539,1,second_hand
2,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,301228,1,second_hand
30,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,301470,1,second_hand
11,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,305391,17,second_hand
28,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,306639,1,second_hand
27,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,310561,1,second_hand
24,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,314675,2,second_hand
15,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,323704,1,second_hand
10,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,332970,1,second_hand
7,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,362478,1,second_hand
12,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,363342,1,second_hand
26,46261,Women,Apparel,Topwear,Tunics,Multi,Summer,2012.0,Casual,109F Women Multicoloured Printed Tunic,544142,1,second_hand

In [ ]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33670 entries, 0 to 33669
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          33670 non-null  object
 1   gender              33670 non-null  object
 2   masterCategory      33670 non-null  object
 3   subCategory         33670 non-null  object
 4   articleType         33670 non-null  object
 5   baseColour          33660 non-null  object
 6   season              33649 non-null  object
 7   year                33669 non-null  float64
 8   usage               33366 non-null  object
 9   productDisplayName  33666 non-null  object
dtypes: float64(1), object(9)
memory usage: 2.6+ MB

## season을 기준으로 계절성 통계검증 할 수도 있겠네

## usage를 기준으로 라마단-르바란 전통 의상 타겟 프로모션 할 수도 있겠네
라마단-르바란 때 검색을 많이 할라나? 이걸로 기간별 패션 트렌드 볼 수도 있겠다

In [ ]:
# # usage -> 컬럼삭제
# product["usage"].unique()
# product = product.drop(['season', 'usage'], axis=1)

In [ ]:
product[product["baseColour"].isnull()]

In [ ]:
blue = [11293,11288,41355,11309,41357]
black=[41347]
white=[57698]
green=[43122]
gold=[43116,43120]

product.loc[product['product_id'].isin(blue), 'baseColour'] = 'Blue'
product.loc[product['product_id'].isin(black), 'baseColour'] = 'Black'
product.loc[product['product_id'].isin(white), 'baseColour'] = 'White'
product.loc[product['product_id'].isin(green), 'baseColour'] = 'Green'
product.loc[product['product_id'].isin(gold), 'baseColour'] = 'Gold'

In [ ]:
product = product.drop(['season', 'usage'], axis=1)

In [ ]:
EDA_product_last1 = pd.read_csv('dataset_EDA\EDA_product_last1.csv')

In [ ]:
EDA_product_last1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44446 entries, 0 to 44445
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          44446 non-null  int64
 1   p_gender            44446 non-null  object
 2   masterCategory      44446 non-null  object
 3   subCategory         44446 non-null  object
 4   articleType         44446 non-null  object
 5   baseColour          44446 non-null  object
 6   season              44446 non-null  object
 7   p_year              44446 non-null  float64
 8   usage               44446 non-null  object
 9   productDisplayName  44446 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 3.4+ MB

# transaction_new.csv EDA

In [ ]:
tr = pd.read_csv('dataset_origin\\transaction_new.csv')

In [ ]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1254585 entries, 0 to 1254584
Data columns (total 16 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   created_at              1254585 non-null  object
 1   customer_id             1254585 non-null  int64
 2   booking_id              1254585 non-null  object
 3   session_id              1254585 non-null  object
 4   payment_method          1254585 non-null  object
 5   payment_status          1254585 non-null  object
 6   promo_amount            1254585 non-null  int64
 7   promo_code              481139 non-null   object
 8   shipment_fee            1254585 non-null  int64
 9   shipment_date_limit     1254585 non-null  object
 10  shipment_location_lat   1254585 non-null  float64
 11  shipment_location_long  1254585 non-null  float64
 12  total_amount            1254585 non-null  int64
 13  product_id              1254585 non-null  int64
 14  quantity                1254585 non-null  int64
 15  item_price              1254585 non-null  int64
dtypes: float64(2), int64(7), object(7)
memory usage: 153.1+ MB

In [ ]:
# 결측치 확인
tr.isnull().sum()

# 결측치 채우기
tr['promo_code'].fillna(0, inplace=True)


# 변경된 'promo_code' 열 확인
print(tr['promo_code'])

0          WEEKENDSERU
1                    0
2                    0
3                    0
4                    0
              ...
1254580              0
1254581         AZ2022
1254582    WEEKENDSERU
1254583         AZ2022
1254584        BUYMORE
Name: promo_code, Length: 1254585, dtype: object

In [ ]:
# total_amount 중 한번에 여러 품목을 구매 했을 경우와 한번에 하나의 품목을 구매 했을 경우의 측정 기준이 다름
# 애초에 배송비가 더 붙은 운송비로 측정이 됬겠지. 그러면 중복 더하기만 안 하면 돼

tr['quantity_price'] = tr['item_price'] * tr['quantity']

In [ ]:
tr.shape

(1254585, 17)

In [ ]:
(tr['total_amount'] == tr['item_price'] * tr['quantity'] + tr['shipment_fee'])

0          False
1           True
2           True
3           True
4           True
           ...
1254580     True
1254581    False
1254582    False
1254583    False
1254584    False
Length: 1254585, dtype: bool

In [ ]:
# Calculate the condition
condition = (tr['total_amount'] == tr['item_price'] * tr['quantity'] + tr['shipment_fee'])

# Count the number of True and False
true_count = condition.sum()
false_count = len(tr) - true_count

true_count, false_count

(435937, 818648)

In [ ]:
EDA_transaction_last1 = pd.read_csv('dataset_EDA\EDA_transaction_last1.csv')

In [ ]:
EDA_transaction_last1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1254585 entries, 0 to 1254584
Data columns (total 17 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   created_at           1254585 non-null  object
 1   customer_id          1254585 non-null  int64
 2   session_id           1254585 non-null  object
 3   payment_method       1254585 non-null  object
 4   payment_status       1254585 non-null  object
 5   promo_amount         1254585 non-null  int64
 6   promo_code           1254585 non-null  object
 7   shipment_fee         1254585 non-null  int64
 8   shipment_date_limit  1254585 non-null  object
 9   total_amount         1254585 non-null  int64
 10  product_id           1254585 non-null  int64
 11  quantity             1254585 non-null  int64
 12  item_price           1254585 non-null  int64
 13  year                 1254585 non-null  int64
 14  shipment_time        1254585 non-null  object
 15  distance(km)         1254585 non-null  float64
 16  buy_age              1254585 non-null  int64
dtypes: float64(1), int64(9), object(7)
memory usage: 162.7+ MB

In [ ]:
# Calculate the condition
condition = (EDA_transaction_last1['total_amount'] == EDA_transaction_last1['item_price'] * EDA_transaction_last1['quantity'] + EDA_transaction_last1['shipment_fee'])

# Count the number of True and False
true_count = condition.sum()
false_count = len(EDA_transaction_last1) - true_count

true_count, false_count

(435937, 818648)

# click_stream_new EDA

In [17]:
strm = pd.read_csv('dataset_origin\click_stream_new.csv')

In [18]:
strm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 12 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   session_id       1048575 non-null  object
 1   event_name       1048575 non-null  object
 2   event_time       1048575 non-null  object
 3   event_id         1048575 non-null  object
 4   traffic_source   1048575 non-null  object
 5   product_id       119017 non-null   float64
 6   quantity         119017 non-null   float64
 7   item_price       119017 non-null   float64
 8   payment_status   64132 non-null    object
 9   search_keywords  107499 non-null   object
 10  promo_code       27905 non-null    object
 11  promo_amount     27905 non-null    float64
dtypes: float64(4), object(8)
memory usage: 96.0+ MB